@charset 'utf-8';
@import url(reset.css);

/* header */
#header {
  position: relative;
  background: #111;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
#header .inner {
  max-width: 1100px;
  margin: 0 auto;
}
/* logo */
#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* top_link */
#header .top_link {
  display: flex;
  justify-content: space-between;
}
#header .top_link a {
  margin: 10px;
  font-size: 0.8125rem;
  color: #888;
}
/* link icon */
#header .link_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .link_icon a {
  margin: 0 10px;
}
/* GNB */
#gnb {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 900px;
}
#gnb a {
  position: relative;
}
/* 1depth */
#gnb .main {
  display: flex;
  justify-content: space-evenly;
  /* align-content: flex-end; */
}
#gnb .main a {
  position: relative;
  font-size: 1.125rem;
}
#gnb .main>li:nth-of-type(3) {
  margin-left: 30px;
}
#gnb .main>li:nth-of-type(4) {
  margin-left: 300px;
}
#gnb .main>li:hover .sub {
  display: flex;
}
#gnb .main>li:not(:nth-of-type(5))>a:hover::after {
  position: absolute;
  bottom: -18px;
  transform: translateX(-100%);
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
}
/* 2depth */
#gnb .sub {
  position: absolute;
  transform: translateX(-25%);
  padding-top: 30px;
  /* 마지막 메뉴의 영역 부족 때문 */
  text-wrap: nowrap;
  display: none;
}
#gnb .sub li {
  margin: 0 8px;
}
#gnb .sub a {
  font-size: 0.9375rem;
}
#gnb .sub a:hover {
  text-decoration: underline;
}